@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 10px;
}
section .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}
.lightbox .lightbox-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.lightbox-content .close {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
section .logo-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
section .logo-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
section .logo-icons .logoimg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
section .logo-icons .text-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.logo-icons .text-content .followers {
    font-size: 13px;
    margin-top: -5px;
}
section .logo-icons .icons i{
    height: 35px;
    width: 35px;
    background: #ccc;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo-icons .icons i:hover {
    background: #7d2ae8;
}
section .lightbox .showimg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.lightbox .showimg .image {
    max-width: 900px;
    width: 100%;
    max-height: 550px;
}
.showimg .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
section .image-gallery {
    max-width: 1300px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    margin: auto;
}
.image-gallery header {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: #24292d;
    padding: 20px 0;
    letter-spacing: 1px;
}
.image-gallery .image-container {
    columns: 3;
    margin-top: 20px;
}
.image-container img {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-container .image-box {
    position: relative;
    cursor: pointer;
}
.image-box .logo-icons {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.image-box:hover .logo-icons {
    opacity: 1;
    pointer-events: auto;
}
.image-box .logo-icons .icons i {
    color: #b4b4b4;
    background: #fff;
}
.logo-icons .icons i:hover {
    color: #707070;
}
section .image-gallery .logo-icons .text-content {
    color: #fff;
}
@media (max-width:1000px) {
    .image-gallery .image-container {
        columns: 2;
        padding: 0 10px;
    }
}
@media (max-width:800px) {
    .lightbox-content .close {
        top: -40px;
        left: 10px;
    }
}
@media (max-width:600px) {
    .image-gallery .image-container {
        columns: 1;
        padding: 0 10px;
    }
    .image-gallery header {
        font-size: 25px;
    }
}